.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}
.back,
.next {
  width: 30px;
  height: 30px;
}
.back {
  transform: rotate(180deg);
}

.active {
  background-color: green;
}
.buttons {
  display: flex;
  gap: 8px;
}
.btn_page,
.active,
.btn {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  width: 100px;
}
@media screen and (max-width: 832px) {
  .pagination {
    width: 100%;
  }
}
