.footer {
  display: flex;
  align-items: center;
  height: 100%;
  border-top: 1px solid black;
  padding: 24px;
  box-shadow: 6px -1px 17px rgba(66, 63, 63, 0.2);
}
.basket {
  width: 25px;
  height: 25px;
}
.count {
  display: flex;
  justify-content: flex-start;
  width: 49%;
  align-items: center;
  gap: 1vh;
}
.num {
  background-color: green;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.reload {
  width: 49%;
  display: flex;
  justify-content: flex-end;
}
